# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# TypeScript
dist/
build/
*.tsbuildinfo

# Vercel
.vercel/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# OS / IDE files
.DS_Store
Thumbs.db

# Log files
logs/
*.log
*.log.*

# Misc
.cache/
.tmp/
.vercel
.env*.local
